@keyframes fade-up-31e5be11 {
0% {
    opacity: 0;
    transform: translateY(50px);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}
div[data-v-31e5be11] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 12px;
}
div > video[data-v-31e5be11], div > svg[data-v-31e5be11] {
  width: 52px;
  height: 52px;
  margin-bottom: 24px;
  fill: var(--dark-80);
  stroke: var(--dark-20);
}
div > span[data-v-31e5be11] {
  font: var(--font-body-1);
  font-weight: bold;
  color: var(--dark-80);
  text-align: center;
}
div > span.description[data-v-31e5be11] {
  font: var(--font-body-2);
  color: var(--gray-500);
  text-align: center;
  padding: 0 10px;
}