:root {
    --сolor-scheme: dark;

    --light-500: rgba(50, 50, 50, 1); /* Тёмно-серый */
    --light-90: rgba(50, 50, 50, 0.9);
    --light-80: rgba(50, 50, 50, 0.8);
    --light-20: rgba(50, 50, 50, 0.2);
    --light-10: rgba(50, 50, 50, 0.1);
    --light-5: rgba(50, 50, 50, 0.05);

    --gray-500: rgba(80, 77, 84, 1); /* Темный графит */
    --gray-90: rgba(80, 77, 84, 0.9);
    --gray-80: rgba(80, 77, 84, 0.8);
    --gray-20: rgba(80, 77, 84, 0.2);
    --gray-10: rgba(80, 77, 84, 0.1);
    --gray-5: rgba(80, 77, 84, 0.05);

    --white-500: #061B3A;
    --white-90: rgba(6, 27, 58, 0.9);
    --white-80: rgba(6, 27, 58, 0.8);
    --white-20: rgba(6, 27, 58, 0.2);
    --white-10: rgba(6, 27, 58, 0.1);
    --white-5: rgba(6, 27, 58, 0.05);

    --dark-500: rgba(255, 255, 255, 1);
    --dark-90: rgba(255, 255, 255, 0.9);
    --dark-80: rgba(255, 255, 255, 0.8);
    --dark-20: rgba(255, 255, 255, 0.2);
    --dark-10: rgba(255, 255, 255, 0.1);
    --dark-5: rgba(255, 255, 255, 0.05);

    --primary-100: rgba(209, 227, 245, 1);
    --primary-200: rgba(178, 207, 238, 1);
    --primary-300: rgba(132, 174, 217, 1);
    --primary-400: rgba(71, 144, 220, 1);
    --primary-500: #2155DF;
    --primary-600: rgba(25, 80, 180, 1);
    --primary-700: rgba(20, 65, 150, 1);
    --primary-800: rgba(15, 50, 120, 1);
    --primary-900: rgba(10, 40, 90, 1);
    --primary-90: rgba(33, 85, 223, 0.9);
    --primary-80: rgba(33, 85, 223, 0.8);
    --primary-20: rgba(33, 85, 223, 0.2);
    --primary-10: rgba(33, 85, 223, 0.1);
    --primary-5: rgba(33, 85, 223, 0.05);

    --secondary-5: rgba(51, 230, 191, 0.05);
    --secondary-10: rgba(51, 230, 191, 0.1);
    --secondary-20: rgba(51, 230, 191, 0.2);
    --secondary-80: rgba(51, 230, 191, 0.8);
    --secondary-90: rgba(51, 230, 191, 0.9);
    --secondary-100: rgba(51, 230, 191, 1);
    --secondary-200: rgba(51, 230, 191, 1);
    --secondary-300: rgba(51, 210, 171, 1);
    --secondary-400: rgba(51, 190, 151, 1);
    --secondary-500: #33E6BF;
    --secondary-600: rgba(51, 170, 130, 1);
    --secondary-700: rgba(51, 150, 110, 1);
    --secondary-800: rgba(51, 130, 90, 1);
    --secondary-900: rgba(51, 110, 70, 1);
    
    --tertiary-5: rgba(6, 27, 58, 0.05);
    --tertiary-10: rgba(6, 27, 58, 0.1);
    --tertiary-20: rgba(6, 27, 58, 0.2);
    --tertiary-80: rgba(6, 27, 58, 0.8);
    --tertiary-90: rgba(6, 27, 58, 0.9);
    --tertiary-100: rgba(8, 34, 74, 1);  
    --tertiary-200: rgba(10, 45, 97, 1); 
    --tertiary-300: rgba(15, 70, 130, 1);
    --tertiary-400: rgba(40, 100, 150, 1);
    --tertiary-600: rgba(30, 80, 120, 1);
    --tertiary-700: rgba(15, 55, 95, 1); 
    --tertiary-800: rgba(6, 27, 58, 1);  
    --tertiary-900: #031327;  

    --input-max-width: 400px;

    --color--option-1-10: rgba(48, 190, 130, 0.1); /* Цвета опций */
    --color--option-1-20: rgba(48, 190, 130, 0.2);
    --color--option-1-80: rgba(48, 190, 130, 0.8);
    --color--option-1: rgba(48, 190, 130, 1);
    --color--option-2: #FFB4D3;
    --color--option-3: #FFC24C;
    --color--option-4: #D387F7;
    --color--option-5: #77E6FF;
    --color--option-6: #23C9DE;
    --color--option-7: #FF9E9E;

    --gradient-1: linear-gradient(90deg, var(--primary-500) 0%, var(--secondary-500) 100%);

    --font-h1: normal 26px/38px 'Brockmann', 'Montserrat', sans-serif;
    --font-h2: normal 60px/72px 'Brockmann', 'Montserrat', sans-serif;
    --font-h3: normal 54px/80px 'Brockmann', 'Montserrat', sans-serif;
    --font-h4: normal 34px/1 'Brockmann', 'Montserrat', sans-serif;
    --font-h5: normal 18px/24px 'Brockmann', 'Montserrat', sans-serif;
    --font-body: normal 26px/46px 'Brockmann', 'Montserrat', sans-serif;
    --font-body-1: normal 16px/20px 'Brockmann', 'Montserrat', sans-serif;
    --font-body-2: normal 14px/1 'Brockmann', 'Montserrat', sans-serif;
    --font-caption: normal 12px/14px 'Brockmann', 'Montserrat', sans-serif;

    --header-height: 106px;
    --footer-height: 168px;
    --blocks-gap: 200px;
    --sub-blocks-gap: 44px;
    --page-width: 1140px;
    --scroll-width: 12px;
}

@media (min-width: 1024px) {
    .mobile-only {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        --header-height: 86px;
        --footer-height: 116px;
        --page-width: 736px;
        --blocks-gap: 100px;
        --sub-blocks-gap: 28px;
        --scroll-width: 8px;

        --font-h2: normal 52px/60px 'Brockmann', 'Montserrat', sans-serif;
        --font-h3: normal 36px/1.2 'Brockmann', 'Montserrat', sans-serif;
        --font-h4: normal 32px/1 'Brockmann', 'Montserrat', sans-serif;
        --font-h5: normal 14px/1.2 'Brockmann', 'Montserrat', sans-serif;
        --font-body: normal 20px/34px 'Brockmann', 'Montserrat', sans-serif;
        --font-body-1: normal 16px/20px 'Brockmann', 'Montserrat', sans-serif;
        --font-body-2: normal 12px/1.2 'Brockmann', 'Montserrat', sans-serif;
    }
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 768px) {
    :root {
        --header-height: 56px;
        --footer-height: 206px;
        --page-width: 328px;
        --blocks-gap: 80px;
        --sub-blocks-gap: 24px;
        --scroll-width: 4px;

        --font-h2: normal 36px/44px 'Brockmann', 'Montserrat', sans-serif;
        --font-h3: normal 28px/36px 'Brockmann', 'Montserrat', sans-serif;
        --font-h4: normal 18px/1 'Brockmann', 'Montserrat', sans-serif;
        --font-h5: normal 14px/1.2 'Brockmann', 'Montserrat', sans-serif;
        --font-body: normal 18px/28px 'Brockmann', 'Montserrat', sans-serif;
        --font-body-1: normal 15px/18px 'Brockmann', 'Montserrat', sans-serif;
    }
    .desktop-only {
        display: none !important;
    }
}